body {
    color: red;
}

p {
    color: brown;
    background-color: orange;
    font-family: verdana, 'Trebuchet MS', Arial;
    font-weight: bold;
    font-style: oblique;
    font-size: 75%;
    line-height: 2em;
    word-spacing: 2em;
    letter-spacing: 0.8em;
    text-decoration: none;
    text-transform: capitalize;
    font-variant: small-caps;

    font: normal 140% Arial;
}


#titulo1 {
    background-color: orange;
    color: brown;
    font-family: 'Montserrat', sans-serif;
}

.titulo2 {
    background-color: green;
    color: yellow;
    font-family: 'Turret Road', cursive;
}

h2,h5 {
    font-family: Verdana;
    color: white;
    background-color: #777;
    font-family: 'Open Sans Condensed', sans-serif;
}

span>b {
    color: white;
    background-color: black;
    font-family: 'Nunito', sans-serif;
}
