* {
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    color: white;
}

/*
#caja1 {
    background-color:red;
    width: 50%;
    height: 300px;
    border: 40px solid magenta;
    float: left;
}

#caja2 {
    background-color:blue;
    width: 50%;
    height: 300px;
    float: left;
}
*/

body {
    margin: 0;
}

header {
    background-color: #888;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-start;/* space-between; */
    flex-direction: row;
    align-items: center;
}

header #encabezado {
    /* border: 1px solid red; */
    width: 30%;
    padding: 10px;
    /* float: left; */
}

header #redes-sociales {
    /* border: 1px solid yellow; */
    width: 10%;
    /* float: right; */
    margin-top: 20px;
    margin-left: auto;
    align-self: flex-start;
}

#redes-sociales img {
    width: 40px;
    height: 40px;
}

main {
    width: 100%;
    background-color: #678;
    /* height: 200px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    width: 30%;
    /* height: 200px; */
    border: 1px dashed cyan;
    /* float: left; */
    padding: 10px;
}

nav, nav div {
    width: 100%;
    height: 50px;
    background-color: lightblue;
    display: flex; /* flex-inline; */
    justify-content: center;
    align-items: center;
}

nav div {
    width: 40%;
    justify-content: space-around
}

nav a {
    width: 120px;
    height: 40px;
    /* display: block; */
    background-color: cornflowerblue;
    /* border: 1px solid magenta; */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-variant: small-caps;
    line-height: 40px;
    border-radius: 10px;
    /* padding-left: 5px;
    padding-right: 5px; */
}

nav a:link, nav a:visited {
    background-color: black;
    color: white;
}

nav a:hover {
    background-color: white;
    color: black;
}

nav a:active {
    background-color: gray;
    color: #eee;
}


footer {
    width: 100%;
    height: 100px;
    background-color: orange;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
}

section img {
    width: 70px;
    height: 70px;
}

section img:hover {
    opacity: 0.5;
}

label, input, button {
    display: block;
}

button {
    margin-top: 15px;
}

input {
    width: 100px;
}

input:focus {
    width: 200px;
}

button:focus {
    background-color: limegreen;
}

main section:first-child {
    background-color: red;
    color:white;
}

main section#contacto:last-child {
    background-color: blue;
    color: white;
}

#contacto {
    width: 100%;
    background-color: green;
}

section p::first-line {
    color: yellow;
    font-weight: bold;
}

section p::first-letter {
    color: orange;
    font-size: xx-large;
}

section p::before {
    content: 'Principio';
}

section p::after {
    content: 'Fin';
}

